{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>List of all products</h1>

            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Selling price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><a href="{{ path('product.show', {id: product.id}) }}">{{ product.name }}</a></td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.sellingPrice }}</td>
                        <td><a href="{{ path('product.delete', {id: product.id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
